# Node.js
node_modules/
.env
*.log
/package-lock.json
/package.json

# Banco de dados SQLite
database/users.db

# Configurações locais do editor
.vscode/
*.code-workspace

# Sistema
.DS_Store
Thumbs.db
